/* added font style from google font */
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Inter:wght@500;700&family=Merriweather:wght@400;700&family=Work+Sans:wght@400;600;700;800&display=swap');

  /* shared styles */
  /* button style */
  .btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

/* heading style start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    display: flex;
    list-style: none;
}
nav h3{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
}
/* banner style start */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-content h1{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-content p{
    color: #727272;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* main part start */
/* first part start */
main{
    max-width: 1440px;
    margin: 50px auto;
}
.features-part-1{
    display: flex;
    align-items: center;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 50px;
}
.description-part{
    margin-left: 50px;
}
.description-title{
    font-size: 45px;
}
.text-style-1{
    color: #727272;
    font-weight: 500;
}
.text-style-3{
    color: #FF900E;
    font-weight: 700;
}
.description-part p{
    color: #727272;
}

/* Second part start */
.features-part-2{
    display: flex;
}
/* Third part star */
.features-part-3{
    margin-left: 100px;
}
.card{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}
.features-part-4 h1, p{ 
    text-align: center;
}
.features-part-4{
    margin-top: 100px;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}
.footer{
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 144, 14, 0.10);
}





/* responsive media query */

/* for mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding:50px;
    }    
    nav, .features-part-1{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-top: 15px;
    }
    nav h3{
        text-align: center;
    }
    .img-section{
        grid-template-columns: 1fr;
        width: 100%;
    }
}

/* for tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav, .features-part-1{
        flex-direction: column;
    }
    .description-part{
        order: 1;
        margin-bottom: 50px;
    }
    .img-section{
        order: 2;
    }
}